Chapter_41/AddressWebServiceClientProject/src/conf/xml-resources/web-service-references/AddressWebService/wsdl/localhost_8080/WebServiceProject/AddressWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://chapter_41/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://chapter_41/">

<xs:element name="getAddress" type="tns:getAddress"/>

<xs:element name="getAddressResponse" type="tns:getAddressResponse"/>

<xs:element name="initializeJdbc" type="tns:initializeJdbc"/>

<xs:element name="initializeJdbcResponse" type="tns:initializeJdbcResponse"/>

<xs:element name="storeAddress" type="tns:storeAddress"/>

<xs:element name="storeAddressResponse" type="tns:storeAddressResponse"/>

<xs:complexType name="initializeJdbc">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initializeJdbcResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="storeAddress">
<xs:sequence>
<xs:element name="arg0" type="tns:address" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mi" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeAddressResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAddress">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>